@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#mini{
  background-image: linear-gradient(to right,#FF7D29,#5C2FC2);
  color: rgb(255, 255, 255);
  display: none;

}
#desk{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #414141;
  border-bottom: 2px white solid;

  ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 40px;
  }
 
  
span{
  width: 40px;
  img{
    width: 100px;
  }
}
 
}
#container{
  display: flex;
  width: 100%;
  height: auto;
  .side-bar{
    background-color: #373737;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow: scroll;
    button{
      background-color: rgb(117, 104, 99);
      margin: 5px;
      width: 90%;
      color: white;
      font-size: 20px;
      border-radius: 5px;
    }
    button:hover{
      background-color: #5C2FC2;
      box-shadow:rgb(117, 104, 99) 2px 2px 2px 2px;

    }
  }
  .frame{
    background-color: rgb(117, 104, 99);
    width: 85%;
    overflow: hidden;
iframe{
  width: 100%;
  height: 100%;
 
}
  }
  ul{
    list-style: none;

  }
}


.btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3a86ff;
  box-shadow: 0 5px #4433ff;
}
.btn:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
  background-color:  #3a86ff;
  color: white;
}
.btn:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}
.card{
  width: 40%;
  height: 40vh;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  border-radius: 7px;
  box-shadow: -3px 4px 1px 0.3px black;

  img{
      width: 20px;
  }
}
#show{
  width: 100px;
  height: 50px;
  font-size: large;
  color: #615EFC;
  font-weight: 700;
  box-shadow: 2px 2px 2px 1px black;
  cursor: pointer;
}
.card button{
  position: absolute;
  top: 1%;
  right: 1%;
}
.card.open{
  top: 50%;
}
h2{
  position: absolute;
  bottom: 1%;
}

.card{
  width: 50%;
  height: 50vh;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
  position: absolute;
  top: -100%;
  left: 50%;
  text-align: center;
  background-color: #EEEEEE;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  overflow: auto;
  font-family: "Poetsen One", sans-serif;
a{
  font-family: "Poetsen One", sans-serif;

}
h1{
  font-family: "Poetsen One", sans-serif;

}
}
.myp{
  display: flex;
  flex-direction: column;
  text-align: center;
  a{
      margin: 4px;
      text-decoration: none;
      font-size: larger;
  }
}
::-webkit-scrollbar{
  width: 0px;
}

.side-bar-m{
  background-color: #373737;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  display: none;
  a{
    background-color: rgb(117, 104, 99);
    margin: 5px;
    width: 90%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
  }
  a:hover{
    background-color: #5C2FC2;
    box-shadow:rgb(117, 104, 99) 2px 2px 2px 2px;

  }
}
#nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: 100%;
  justify-content: center;
  a{
    width: 50%;
  }
}
@media (max-width:600px) {
#mini{
 display: block;
}
#desk{
  display: none;
}
#container{
 display: none;
  .side-bar{
    display: none;
    width: 0%;
  }
  .frame{
    width: 100%;
    height: 100vh;
    iframe{
      height: 100%;
    }
  }
 
}

.side-bar-m{
  display: flex;
  flex-direction: column;
  height: 90vh;
  a{
    width: 90%;
  }
}

}